
.tagTitle {
	margin-top: 30px;
	margin-bottom: 20px;
}

.main {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	margin-right: 10px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
	padding: 10px;
}

.textTest {
	font-size: 40px;
}

.newsName {
	border: none;
	border-radius: 20px;
	height: 30px;
	padding: 0 10px 0 10px ;
	margin-top: 5px;
	width: 500px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
}

@media (width <= 765px) {
	.newsName{
		width: 95%;
	}
	.main {
		text-align: center;
		vertical-align: middle;
	}


}

.newsName:focus {
	border: 1px solid var(--primary);
	box-shadow: 0 0 3px var(--primary);
	outline-offset: 0;
	outline: none;

}
.main button {

		background-color: rgba(118, 83, 252, 0.17);
		border: none;
		margin-top:  10px;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s ease;
		height: 40px;
		font-weight: bolder;
		padding: 0 10px 0 10px;
		width: 200px;
}

.main button:hover {
	background-color: rgb(90 63 255 / 66%);
	color: white;
	transition: 0.2s;
}
.editor {
	z-index: 0;
}