.header {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px 40px;
	color: var(--white);
	font-size: 16px;
	background: var(--primary);
	padding: 10px 30px;
}

.logo {
	justify-items: start;
	font-size: 20px;
}

.logo:hover {
	color: var(--gray-light);
}

.guest {
	height: 40px;
	padding: 0 20px;
	font-size: 16px;
	color: var(--white);
	border-radius: 12px;
	border: 1px solid transparent;
	background: transparent;
}

.guest:hover  {
	transition: 0.4s;
	color: #d5d5d5;
	background: var(--primary-hover);
}

.menu,
.settings{
	background: transparent;
	border: none;
	height: 40px;
	width: 40px;
}
.settings svg,
.menu svg {
	margin-left: 1px;
	margin-top: 3px;
}
.menu:hover,
.settings:hover{
	background: var(--primary-hover);
	border-radius: 30px;

}
.settings:hover svg circle,
.settings:hover svg path,
.menu:hover svg path{
	transition: 0.2s;
	fill: lightgray;
}

@media (width >= 765px) {
	.menu {
		display: none;
	}
}



.buttonsMenu {
	gap: 10px;
	display: flex;
	flex-direction: row;
	fill: var(--white);
	align-items: center;
}


