.block {
    background: white;

    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    margin: 10px 10px 0 0 ;
}
.data_name {
    line-height: 40px;
    background: rgba(118, 83, 252, 0.71);
    border-radius: 20px 20px 0 0 ;
    padding: 0 10px 0 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.content {
    border: 1px solid rgba(118, 83, 252, 0.71);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 5px;
}

.like {
    border-radius: 10px 0 0 10px;
    border: solid 0.01em ;
}
.like:disabled {
    border: solid 0.01em green;
}
.activelike svg {
    fill: #008000FF;
}
.dislike{
    border-radius: 0 10px 10px 0;
    border: solid 0.01em ;
}
.dislike:disabled {
    border: solid 0.01em red;
}

.activedislike svg {
    fill: #fa4b4b;
}
