.mwrapper {
	width: 500px;
	height: 700px;
}

@media (width <= 765px) {
	.mwrapper {
		width: 400px;
		height: 700px;
	}
}

@media (width <= 465px) {
	.mwrapper {
		width: 300px;
		height: 700px;
	}
}

.modal {
	background: white;
	height:90%;
	width:100%;
	border-radius: 15px;
	border:solid 2px rgb(90 63 255 / 66%);
	box-shadow: 0 0 20px rgb(90 63 255 / 66%);
	padding: 15px;
	color: black;
}

.moverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}

.mbody {
	padding-top: 10px;
}

.mheader {
	display: flex;
	justify-content: flex-end;
	font-size: 25px;
}



.tabs {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	height: 60px;
}

.tbutton {
	background-color: #E8E8E8;
	font-weight: 500;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease;
	height: 40px;
}

.tbutton:hover {
	background-color: rgb(90 63 255 / 66%);
	color: white;

}

.active {
	background-color: rgb(90 63 255 / 66%);
	color: white;
	height: 60px;
	border-radius: 10px 10px 0 0 ;
	font-weight: 600;
}

.login {
	display: flex;
	flex-direction: column;
	color: white;
	background-color: rgb(90 63 255 / 66%);
	height: 81%;
	border-radius: 0 10px 10px;
	justify-content: center;
	padding: 10px 25px;
}

.registration{
	display: flex;
	flex-direction: column;
	color: white;
	background-color: rgb(90 63 255 / 66%);
	height: 84%;
	justify-content: center;
	padding: 0 25px;
	border-radius: 10px 0 10px 10px;
}

.input {
	display: flex;
	flex-direction: column;
}

.input label {
	margin-top: 10px;
}

.input input {
	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgb(196 186 253 / 66%);
	display: block;
	margin-top: 10px;
	outline: none;
	padding-left: 10px;
}

.input input:focus {
	transition: 0.2s;
	box-shadow: 0 0 20px var(--primary);
}

.buttonreg {
	margin-top: 30px;
	width: 100%;
}

.signin,
.buttonreg {
	height: 40px;
	font-size: 16px;
	border: 1px solid rgb(196 186 253 / 66%);
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	color: var(--black)
}

.signin:hover,
.buttonreg:hover {
	transition: 0.2s;
	background-color: #F0E8FF;
	color: black;
}

.link {
	margin: 10px 0 15px 10px;
	display: flex;
	justify-content: flex-end; /* Добавляем эту строчку для прижатия вправо */
}

.link link:hover {
	color: #F0E8FF;
}

.error {
	margin-bottom: 10px;
	background: rgb(255 113 113 / 76%);
	border: 1px solid rgb(241 167 167 / 76%);
	border-radius: 10px;
	text-align: center;
	padding-block: 3px;
}

.sucessAlert {
	margin-bottom: 10px;
	background: rgb(0 253 79 / 66%);
	border: 1px solid rgb(96 255 122 / 82%);
	border-radius: 10px;
	text-align: center;
	padding-block: 10px;
}

.mt {
	margin-top: 20px;
}

.buttonregBack {
	width: 90%;
	margin: 10px;
}

.buttonregBack:hover {
	background-color: rgb(237 229 255);

}